body {
  height: 100vh;
  background: #4eaad7;
  font-family: Arial, sans-serif;
}

.calculator {
  margin-top:50px;
  background: white;
  padding: 20px;
  width:fit-content;
  transform: translateX(110%);
  border-radius: 10px;
  box-shadow: 0 4px 90px 5px orangered;
}
h1{
  text-align: center;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#display {
  width: 94%;
  height: 50px;
  font-size: 1.5em;
  text-align: right;
  margin-bottom: 15px;
  padding: 10px;
  color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 3px 4px black;
  background-color:grey;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 20px;
}

button {
  padding: 15px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color:black;
  color: white;
  transition: 0.3s;
  box-shadow: 0 2px 3px 5px grey;
}

button:hover {
  background-color: #226e84;
}